
@import url(//db.onlinewebfonts.com/c/e088675d84df9c7882f95fba89a85552?family=PF+Regal+Display+Pro);
                
body{
    margin: 0rem;
    display: grid;
}
#uniq{
    font-family: 'Brandon Grotesque Light';
    justify-self: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
    color: #ffffff;
}
.inicio .title #titl{
    display: inline;
    color:#B4B7B7;
    font-size:  1.75em;
    font-family: 'PF Regal Display Pro';   
}
.inicio .title #titr{
    display: inline;
    color: #ffffff;
    font-size: 3em;
    font-family: 'PF Regal Display Pro';   
}
.inicio h1{
    display: inline;
    color: #ffffff;
    font-family: 'PF Regal Display Pro';
}

.inicio .login #login{
    color: #7f7f7f;
    align-self: center;
}
.inicio .login #signup{
    align-self: center;
}

.inicio .h5 #login{
    color: #7f7f7f;
}

.inicio h3{
    display: inline;
    margin: 0.25rem;
    font-family: 'Brandon Grotesque Light', sans-serif;
    color: #ffffff;

}
.inicio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:   0.5fr 1fr 1fr 1fr 1fr;
    background-image: url(/img/fondoGrande.png);
    background-size: contain;
    background-repeat: round;
    
    
}
.inicio .login{
    display: grid;
    grid-template-columns: 1fr 0.20fr 1fr;
    justify-self: center;
    align-self: center;
    grid-column: 5/7;
    grid-row: 1 / 2;
    margin: 0rem;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Brandon Grotesque Light';
}
.inicio .idioma{
    display: grid;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light';
    grid-template-columns: 1fr 1fr 0.20fr 1fr;
    justify-self: flex-end;
    align-self:center;
    grid-column: 6 / 8;
    grid-row: 1 / 2;
    margin-right: 2.5rem;
}
.inicio .idioma #esp{
    font-size: 0.8rem;
    color: #7f7f7f;
    align-self: center;
}
.inicio .idioma #eng{
    font-size: 0.8rem;
    align-self: center;
}

.inicio .idioma .img0{
    max-width: 3rem;
}
.inicio #ln27{
    max-width: 100%;
    color: white;
    max-width: 100%;
    z-index: 4;
}
.inicio .lin27{
    display: inline;
    grid-column: 1/8;
    grid-row: 1/2;
    align-self: end;
 
}
.inicio .inputP #placeholder{
    border: solid;
    background-color: transparent;
    border-color: white;
    border-radius: 1rem;
    padding: 0.25rem;
    padding-right: 7.5rem;
    padding-left: 0.5rem;
    
}

.inicio .inputP{
    margin-top: 1rem;
    grid-row: 2/3;
    display: inline;
    grid-column: 5/8;
    align-self: center;
    margin-bottom: 2rem;
    justify-self: center;
}
.inicio .title{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-column: 1/4;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
    margin-right: 7rem;
    margin-top: 1.5rem;
}

.inicio .button{
    grid-column: 1/3;
    grid-row: 5/6;
    align-self: start;
    justify-self: center;
    
}
.inicio .button #view{
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    border: solid;
    padding: 0.5rem;
    border-radius: 1rem;
    padding: 0.50rem;
    padding-right: 3rem;
    padding-left: 1rem;
    font-family: 'Brandon Grotesque Light';
    
}
.inicio .rectangulos{
    display: inline;
    grid-column: 4 / 5;
    grid-row: 5/7;
    align-self: center;
    justify-self: center;
}

.sales{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 1rem;
}
.sales .info{
    margin-right: 7rem;
    margin-left: 2rem;
}
.sales .info #subtitle{
    font-family: 'PF Regal Display Pro';
    color: #DF991B;
    font-size: 1.5em;
    margin-top: 0.5rem;
    justify-self: end;
}
.sales .info #propT{
    font-family: 'PF Regal Display Pro';
    color: #000000;
    font-size: 2.5em;
    align-self: flex-start;
    justify-self: end;
    font-weight: bold;
}

.sales .info p{
    font-family:'Brandon Grotesque Light';
    color: #000000;
    align-self: flex-start;
    text-align: end;
}


.fotos{
    display: grid;
    grid-template-columns: 0.37fr 1fr 1fr;
   
}
.sales .fotos #f1{
    max-height: 20rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    grid-column: 1;

}
.sales .fotos #img2{

}
.sales .fotos #img2 #f2{
    z-index: 1;
    max-height: 20rem;
    max-width: 25rem;
    padding-top: 0.5rem;
}
.sales .fotos #img2 #england{
    z-index: 2;
    align-self: center;
}
.sales .fotos #f3{
    max-height: 17rem;
    max-width: 25rem;
    padding: 0.5rem;
}
.info{
    display: grid;
}
.sales .info .botonview{
    display: flex;
    gap: 1rem;
    justify-self: end;
}
.rent .info .botonview{
    display: flex;
    gap: 1rem;
    justify-self: start;
}
.info .botonview #menor{
    justify-self: end;
    align-self: center;
    grid-row: 1 / 3;
    
}
.botonview #mayor{
    grid-row: 1 / 3;
    align-self: center;
    
}
.botonview .prevAll0{
    display: flex;
    align-self: center;
    justify-self: auto;
}
.botonview .prevAll0 #prev{
    border-color: transparent;
    background-color: transparent;
    padding-left: 0.05rem;
    font-family: 'Brandon Grotesque Light';
    font-size: 0.7em;
}


.botonview .viewAll0{
    
    align-self: center;
    justify-self: center;
    
}
.botonview .viewAll0 #viewAll{
    background-color: transparent;
    border-color: #000000;
    border-radius: 5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: solid;
    border-width: 1px;
    font-family: 'Brandon Grotesque Light';
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1em;
    margin-right: 1rem;
    margin-left: 1rem;
}

.botonview .nextAll0{
    display: flex;
    align-self: center;
    justify-self: end;
    
}
.botonview .nextAll0 #next{
    border-color: transparent;
    background-color: transparent;
    padding-left: 0.05rem;
    font-family: 'Brandon Grotesque Light';
    color: #DF991B;
    font-size: 0.7em;
}
.rent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 1rem;
}
.rent .info #subtitle{
    font-family: 'PF Regal Display Pro';
    color: #DF991B;
    font-size: 1.5em;
}

.rent .info #propT{
    font-family: 'PF Regal Display Pro';
    color: #000000;
    font-size: 2.5em;
    align-self: flex-start;
    font-weight: bold;
}
.rent .info{
    margin-left: 7rem;
    margin-right: 2rem;
}
.rent .info p{
    font-family:'Brandon Grotesque Light';
    color: #000000;
    align-self: flex-start;
}
.rent .fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 0.37fr;
   
}
.rent .fotos #f3{
    justify-self: end;
    max-height: 20rem;
    max-width: 25rem;
    padding: 0.1rem;
    align-self: end;
}
.rent .fotos #f1{
    max-height: 17rem;
    max-width: 25rem;
    padding: 0.5rem;
}
.rent .fotos #f2{
    max-height: 20rem;
    max-width: 25rem;
    padding-top: 0.5rem;
    padding-left: 0.2rem;
}

/*development*/
.development h1{
    display: inline;
    align-self: end;
    justify-self: center;
    margin-bottom: 0rem;
    margin-top: 0rem;
}
.development h2{
    display: inline;
    justify-self: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.development{
    margin-top: 7rem;
}
.development .title{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr
}
.development .luxuryP{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 2rem;
    margin: 4rem 7rem 0.25rem 7rem;
    gap: 1rem;
}
.development .title #subtitle{
    font-family: 'PF Regal Display Pro';
    color: #DF991B;
    font-size: 1.5em;
    display: inline;
    justify-self: center;
}

.development .title #propT{
    font-family: 'PF Regal Display Pro';
    color: #000000;
    font-size: 2.5em;
    align-self: flex-start;
    font-weight: bold;
    display: inline;
    justify-self: center;
}
.development .luxuryP h3{
    font-family: 'PF Regal Display Pro';
    color: #000000;
}
.development .luxuryP h4{
    color: #717072;
    font-family: 'PF Regal Display Pro';
    font-size: 0.6em;
}

.development .luxuryP #p1{
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
}
.development .luxuryP #p2{
    grid-column: 2;
    grid-row: 1;
    max-width: 100%;
}
.development .luxuryP #p3{
    grid-column: 3;
    grid-row: 1;
    max-width: 100%;
   
}
.development .luxuryP #p4{
    grid-column: 4;
    grid-row: 1;
    max-width: 100%;
}
.development .luxuryP #p5{
    grid-column: 1;
    grid-row: 3;
    max-width: 100%;
}
.development .luxuryP #p6{
    grid-column: 2;
    grid-row: 3;
    max-width: 100%;
}
.development .luxuryP #p7{
    grid-column: 3;
    grid-row: 3;
    max-width:100%;
}
.development .luxuryP #p8{
    grid-column: 4;
    grid-row: 3;
    max-width: 100%;
}

.development .luxuryP .pi1{
    display: inline;
    grid-column: 1;
    grid-row: 2;
}
.development .luxuryP h3{
    display: inline;

}
.development .luxuryP h4{
    display: contents;

}
.development .luxuryP .pi2{
    display: inline;
    grid-column: 2;
    grid-row: 2;
}
.development .luxuryP .pi3{
    display: inline;
    grid-column: 3;
    grid-row: 2;
}
.development .luxuryP .pi4{
    display: inline;
    grid-column: 4;
    grid-row: 2;
}
.development .luxuryP .pi5{
    display: inline;
    grid-column: 1;
    grid-row: 4;
}
.development .luxuryP .pi6{
    display: inline;
    grid-column: 2;
    grid-row: 4;
}
.development .luxuryP .pi7{
    display: inline;
    grid-column: 3;
    grid-row: 4;
}
.development .luxuryP .pi8{
    display: inline;
    grid-column: 4;
    grid-row: 4;
}
.art{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.art .info{
    display: grid;
    grid-auto-rows: min-content;
    align-self: center;
    margin-left: 3rem;
    margin-right: 12rem;
}

.art .info #subtitle{
    font-family: 'PF Regal Display Pro';
    color: #DF991B;
    font-size: 1.5em;
    margin-top: 0.5rem;
    justify-self: start;
}
.art .info #propT{
    font-family: 'PF Regal Display Pro';
    color: #000000;
    font-size: 2.5em;
    align-self: flex-start;
    justify-self: start;
    font-weight: bold;
    display: inline;
}
.art .info p{
    font-family:'Brandon Grotesque Light';
    color: #000000;
    align-self: flex-start;
    display: inline;
}
.art .expoarte{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;

}
.art .expoarte #imsala{
    z-index: 2;
    max-height: 50%;
    grid-column: 2/5;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}
.art .expoarte #rn{
    z-index: 1;
    max-width: 74%;
    grid-column: 1/4;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
}
.art .infoarte .infart{
    display: grid;
}
.infoarte h3{
    display: inline;
}
.info .botonview{
    display: flex;
    gap: 1rem;
    justify-self: start;
    
}
.final{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.final .blackblock #blb{
    max-width: 63rem;
}
.final .blackblock{
    z-index: 2;
    grid-column: 1/5;
    justify-self: center;
    grid-row: 1/3;
    align-self: center;
}
.final .joinlist{
    z-index: 3;
    grid-row: 1/3;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    margin-left: 1.5rem;
}
.final .infob{
    z-index: 3;
    grid-row: 1/3;
    grid-column: 2/5; 
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 6rem;
}
.final .infob .name{
    display: inline;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light';
    margin-left: 1rem;
}
.final .infob .plh2 #plh2{
    display: inline;
    font-family: 'Brandon Grotesque Light';
    border: solid;
    border-color: #7f7f7f;
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.25rem 18rem 0.25rem 1rem;
    
}
.final .infob .submitbtn{
    align-self: flex-end;
}
.final .infob .submitbtn #btn{
    display: inline;
    color: #DF991B;
    background-color: transparent;
    font-family: 'Brandon Grotesque Light';
    border: solid;
    border-color: #DF991B;
    border-radius: 1rem;
    padding: 0.5rem 4rem 0.5rem 4rem; 
}
.final .blackblock2{
    z-index: 1;
    background-color: black;
    grid-column: 1/5;
    grid-row: 2/6;
}
.final .offer{
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.5fr 1.5fr;
    grid-template-rows: 0.5fr 0.1fr 0.1fr;
    grid-column: 1/5;
    grid-row: 3/6;
    justify-self: center;
    margin-bottom: 3rem;
}
.final .offer #t1{
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
    margin-bottom: 0rem;
    color: #ffffff;
    font-family: 'PF Regal Display Pro';
}
.final .offer #t2{
    grid-column: 1;
    grid-row: 3;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light'
}
.final .offer #t3{
    grid-column: 1;
    grid-row: 4;
    margin-top: 0rem;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light'
}
.final .offer #t4{
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
    margin-bottom: 0rem;
    justify-self: center;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light'
}
.final .offer #t5{
    grid-column: 2;
    grid-row: 2;
    margin-top: 0rem;
    margin-bottom: 0rem;
    justify-self: center;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light'
}
.final .offer #t6{
    grid-column:2 ;
    grid-row: 3;
    align-self: flex-start;
    margin-top: 0rem;
    justify-self: center;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light'
}
.final .offer #t7{
    grid-column: 3;
    grid-row: 1;
    align-self: flex-end;
    margin-bottom: 0rem;
    justify-self: center;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light'
}
.final .offer #t8{
    grid-column: 3;
    grid-row: 2;
    margin-top: 0rem;
    margin-bottom: 0rem;
    justify-self: center;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light'
}
.final .offer #t9{
    grid-column: 3;
    grid-row: 4;
    align-self: flex-start;
    margin-top: 0rem;
    justify-self: center;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light'
}
.final .offer #t10{
    grid-column: 4;
    grid-row: 1;
    align-self: flex-end;
    margin-bottom: 0rem;
    justify-self: end;
    color: #ffffff;
    font-family: 'PF Regal Display Pro';
}
.final .offer #t11{
    grid-column: 4;
    grid-row: 2;
    margin-top: 0rem;
    margin-bottom: 0rem;
    justify-self: end;
    color: #ffffff;
    font-family: 'PF Regal Display Pro';
    font-size: 1.2em;
}
.final .offer #t12{
    grid-column: 4;
    grid-row: 4;
    margin-top: 0rem;
    justify-self: end;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light'
}
.final .copyright{
    z-index: 3;
    grid-column: 1/5;
    grid-row: 5;
    margin-top: 0rem;
    justify-self: center;
    align-self: center;
    color: #ffffff;
    font-family: 'Brandon Grotesque Light';
    font-size: 0.5em;
}
.final .ln32{
    display: inline;
    z-index: 3;
    grid-column: 1/5;
    grid-row: 5/6;
    align-self: flex-start;
}
.final .ln32 #lin32{
    max-width: 100%;
}
.final .joinlist #subtitle{
    font-family: 'PF Regal Display Pro';
    color: #DF991B;
    font-size: 1.5em;
    margin-top: 0.5rem;
    justify-self: end;
    margin-left: 1rem;
}
.final .joinlist #propT1{
    font-family: 'PF Regal Display Pro';
    color: #ffffff;
    font-size: 2em;
    align-self: flex-start;
    justify-self: end;
    margin-bottom: 0rem;
    margin-left: 1rem;
}
.final .joinlist #propT2{
    font-family: 'PF Regal Display Pro';
    color: #ffffff;
    font-size: 2em;
    align-self: flex-start;
    justify-self: end;
    margin-bottom: 1rem;
    margin-left: 1rem;
}